body{
    background: url('images/fondo.JPG') no-repeat;
    background-size: cover;
    background-position: center;
}

.head  {
    width: 15%;
    height: 10%;
}

.formato{
    text-align: center;
    height: 15%;
    width: 15%;
    margin-left: 10% ;
    font-family:Georgia;
    font-style: bold;
    margin: auto;
}

.principal{
    font-size: 28px;
    text-align: center;
    margin-left: 30%;
    width: 40%;
    color: black;
    font-weight: 700px;
}

.input1{
    font-size: 25px;
    margin-left: 38%;
    color: white;
    height: 50px;
    width: 300px;
    padding-top: 20px;
    box-sizing: border-box;
}

.input2{
    font-size: 25px;
    padding-top: 20px;
    margin-left: 38%;
    color: white;
    height: 50px;
    width: 350px;
    box-sizing: border-box;
}

.formularioInput{
    background-color: transparent;
    border: transparent;
    color
}

.submit{
    margin-top: 100px;
    margin-left: 44%;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100px;
    padding: 6px;
    margin-top: 20px;
    border-radius: 15px;
    box-sizing: border-box;
}

.crearCuenta{
    font-size: 18px;
    width: 120px;
    height: 100px;
    margin-left: 20%;
}

